<html ng-app="select">
	<head>
		<link rel="stylesheet" href="bootstrap.css">
		<link rel="stylesheet" href="select.css">
	</head>

	<body ng-controller="ctrl">
		<div ng-repeat="block in blocks" style="background-color: yellow">
			<div ng-repeat="rule in block.rules">
				<div ng-repeat="line in rule.lines">
					<select style="display: inline-block" ng-model="line.select" ng-options="item for item in selectOptions track by item" ng-change="changePnDrawing(line)"></select>
					
					<ui-select multiple theme="bootstrap" ng-model="$parent.line.uiselect" style="width: 300px;display: inline-block">
						<ui-select-match placeholder="Enter an address...">{{$item.name}} &lt;{{$item.age}}&gt;</ui-select-match>
						<ui-select-choices repeat="p in line.uiselectchoices | propsFilter: {name: $select.search, age: $select.search}" refresh="refreshChoices(line, $select.search)"
										 refresh-delay="3">
							{{p.name}}
						</ui-select-choices>
					</ui-select>
					{{line.model[$index].uiselect}}
					<a ng-click="addLine($parent.$parent.$index, $parent.$index)" href="">Add line</a>
				</div>			
				<div style="background-color: green">
					<a ng-click="addRule($parent.$index)" href="">Add rule</a>
				</div>
			</div>
			<div style="background-color: red">
				<a ng-click="addBlock()" href="">Add block</a>
			</div>
		</div>
	
		<script src="angular.js"></script>
		<script src="select.js"></script>
		<script>
			angular.module('select', ["ui.select"])
			.controller('ctrl', function($scope, $filter){	
				$scope.selectOptions = ["P/N", "Drawings"];
				
				$scope.persons = [
					{name: "Herizo", age: 25},
					{name: "Anja", age: 24},
					{name: "Hery", age: 15},
					{name: "Ravo", age: 10}
				];
				
				$scope.animals = [
					{name: "Pingouin", age: 3},
					{name: "Cheval", age: 1},
					{name: "Chien", age: 0.5},
					{name: "Chat", age: 0.1}
				];
				
				$scope.blocks = [
					{
						rules : [
							{
								lines : [
									{
										select: $scope.selectOptions[0],
										uiselect : {},
										uiselectchoices : $scope.persons
									}
								]
							}
						]
					}				
				];
				console.log($scope.blocks);
				$scope.blocks[0].rules[0].lines[0].uiselect = {name: "Herizo", age: 25};
				console.log($scope.blocks);
				
				$scope.refreshChoices = function(o, choice){
					
				};
				
				$scope.changePnDrawing = function(obj){
					if(obj.select === $scope.selectOptions[0]){
						obj.uiselectchoices = $scope.persons;
					} else if (obj.select === $scope.selectOptions[1]){
						obj.uiselectchoices = $scope.animals;
					}
				};
				
				$scope.addRule = function(index){
					$scope.blocks[index].rules.push({
						lines : [
							{
								select: $scope.selectOptions[0],
								uiselect : {},
								uiselectchoices : $scope.persons
							}
						]					
					});
				};
				
				$scope.addLine = function(blockIndex, parentIndex){
					$scope.blocks[blockIndex].rules[parentIndex].lines.push({
						select: $scope.selectOptions[0],
						uiselect : {},
						uiselectchoices : $scope.persons
					});
				};
				
				$scope.addBlock = function(){
					$scope.blocks.push({
						rules : [
							{
								lines : [
									{
										select: $scope.selectOptions[0],
										model: [],
										uiselectchoices : $scope.persons
									}
								]
							}
						]
					});
				};			
			})
			.filter('propsFilter', function() {
			  return function(items, props) {
				var out = [];

				if (angular.isArray(items)) {
				  items.forEach(function(item) {
					var itemMatches = false;

					var keys = Object.keys(props);
					for (var i = 0; i < keys.length; i++) {
					  var prop = keys[i];
					  var text = props[prop].toLowerCase();
					  if (item[prop].toString().toLowerCase().indexOf(text) !== -1) {
						itemMatches = true;
						break;
					  }
					}

					if (itemMatches) {
					  out.push(item);
					}
				  });
				} else {
				  // Let the output be the input untouched
				  out = items;
				}

				return out;
			  };
			});		
		</script>
	</body>
</html>